$green: #00FF00;
$red: #FF0000;
$blue: #0000FF;

/* GLOBAL ---------------------------------------*/

body {
	width: 1180px;
	margin: 0 auto;
	display: flex;
}


.mainTitle {
	color: orange;
}
.header {
	height: 75px;

	display: flex;
	
	&__title {
		color: $green;
	} 
	&__container {
		display: flex;
		background: $red;

		&__name {
			color: purple;
		}
		&__img {
			width: 50px;
			height: auto;
		}
	}
}