/** TIPS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

   * color
   * background

   * width
   * height
   * margin
   * padding

   * font-family
   * font-size
   * text-align
   * text-transform
   * letter-spacing

   * display
   * flex-direction
   * justify-content
   * align-items

   * position
   * top bottom left right
   * z-index
   * opacity

   * transition

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* FONTS ----------------------------------------*/
   @font-face {
      font-family: "OpenSans-Regular";
       src: url('../fonts/OpenSans-Regular.ttf');
   }
   @font-face {
      font-family: "JosefinSans-Bold";
      src: url('../fonts/OpenSans-Bold.ttf');
   }
   @font-face {
      font-family: "JosefinSans-SemiBold";
      src: url('../fonts/OpenSans-SemiBold.ttf');
   }
   @font-face {
      font-family: "JosefinSans-Light";
      src: url('../fonts/OpenSans-Light.ttf');
   }

/* GLOBAL ---------------------------------------*/
   body {
      background: #000;
      color: #fff;

      font-family: OpenSans-Regular;

      overflow-x: hidden;
   }
   a {
      text-decoration: none;
   }
   .DaBigBox {
      display: flex;
   }
   .is-active {
      display: flex !important;
   }
   .is-active-v {
      width: 22% !important;
   }
   .is-active-w {
      width: auto;
   }
   #colors {
      deepBlue: #162233;
      blue: #20334C;
      lightBlue: #70EFC7;
      xlightBlue: #EDF6FD;
   }

/*HEADER ----------------------------------------*/
   .header {
      background: #162233;

      height: 7vh;
      padding: 0 2% 0 2%;
      
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .header__title {
      height: 20px;
      width: auto;
   }
   .header__description {
      font-size: 1.25em;
      font-family: OpenSans-Light;
      color: #EDF6FD;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
   }
   .header__box {
      display: flex;
      align-items: center;

      position: relative;
   }
   .h__box__img {
      width: 30px;
      height: 30px;

      cursor: pointer;
   }
   .h__box__name {
      margin: 0 10px;
      color: #70EFC7;
      border-bottom: 2px #162233 solid;
      font-size: 1em;
      transition: all 0.25s;
   }
   .h__box__name:hover {
      color: #fff;
      border-bottom: 2px #70EFC7 solid;
   }
   .h__box__cross {
      width: 30px;
      height: 30px;

      cursor: pointer;
      transition: all 0.25s;
   }
   .h__box__cross:hover {
      transform: rotate(90deg) !important;
   }
   .h__box__cross:before {
      content: '';
      background: #70EFC7;
      width: 30px;
      height: 3px;
      position: absolute;
      top: 15px;
      transform: rotate(-45deg) !important;
   }
   .h__box__cross:after {
      content: '';
      background: #70EFC7;
      width: 30px;
      height: 3px;
      position: absolute;
      top: 15px;
      transform: rotate(45deg) !important;
   }

/* FRIENDS --------------------------------------*/
   .friends {
      background: #EDF6FD;

      width: 0;
      height: 88vh;
   
      transition: all 0.25s;
   }
   .friends__title {
      color: #20334C;

      padding: 10px;

      display: flex;
      justify-content: center;

      font-size: 1.5em;
      font-family: OpenSans-SemiBold
   }
   .friends__list {
      height: 73vh;
      margin: 8px 10px 10px 25px ;

      overflow: scroll;
      overflow-x: hidden;
   } 
   .f__item {
      margin: 10px 0 25px 0;

      display: flex;
      align-items: center;
      font-size: 0.90em;

      cursor: pointer;
   }
   .f__item__name {
      color: #000;

      margin-left: 15px;

      font-size: 1.33em;
   }
   .f__item__img {
      width: 50px;
      height: auto;
   }

/* TABS -----------------------------------------*/
   .mainList {
      background: #5F5F5F;

      width: 78%;
   }
   .mainList__list {
      display: flex;
   }
   .mL__list__item {
      color: #FFF;

      width: 25%;
      height: 5vh;

      font-size: 1.25em;
      text-decoration: none;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.25s;
   }
   .mL__social {
      background: #20334C;
   }
   .mL__chat {
      background: #2B4466;
   }
   .mL__forum {
      background: #304B72;
   }
   .mL__intranet {
      background: #35547F;
   }
   .tabs {
      background: red;

      height: 70vh;
   }
   .tab {
      width: 100%;
      height: 83vh;

      display: none;
   }
   .mL__list__item:hover {
      background: rgba(112,239,199, 0.333);
   }

/* SOCIAL ---------------------------------------*/
   #social {
      flex-direction: column;
   }
   .social__post {
      margin: 30px;
      color: #000;
      display: flex;
   }
   .social__create {
      background: #2B4466;

      width: 100%;
      height: 6vh;

      display: flex;
      align-items: center;
      justify-content: center;
   }
   .social__overflow {
      background: #fff;
      height: 75vh;
      margin: 10px;

      overflow-x: hidden;
   }

   .s__create__text {
      font-size: 1.25em;
      text-decoration: none;
      font-family: OpenSans-Light;
   }
   .s__create__link {
      background: rgba(112,239,199, 0.333);
      color: #fff;

      padding: 2px 8px;
      margin: 0 10px;

      border: 2px #70EFC7 solid;
      font-size: 0.90em;

      transition: all 0.25s;
   }
   .s__create__link:hover {
      
      background: #70EFC7;
      color: #20334C; 
   }
   
   .s__box {
      display: flex;
      flex-direction: column;
   }
   .s__post__img {
      width: 75px;
      height: 75px;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .s__box {
      margin-left: 25px;
   }
   .s__box__title {
      font-size: 2em;
      font-family: OpenSans-SemiBold;
   }
   .s__box__user {
      margin: 10px 25px;

      font-size: 1em;
   }
   .social__description {
      margin: 15px 0 15px 25px;

      font-size: 1em;
      font-family: OpenSans-Light;
      line-height: 1.5;
   }
   .s__box__link {
      color: #70EFC7;
      font-size: 1.25em;
      margin-left: 23px;
      font-family: OpenSans-Light;
      width: auto;
      border: 1px #fff solid;
      transition: all 0.25s;
   }
   .s__box__link:hover {
      color: #000;
      border-bottom: 1px #70EFC7 solid;
      transition: all 0.25s;
   }
   .s__box__buttons {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
   }
   .s__box__buttons {
      width: 35px;
      height: auto;
      margin-right: 12.5px;
   }
   .s__box__like {
      background: url(../img/like.svg);
   }
   .s__box__form {
      padding: 25px;
   }
   .s__box__form__message {
      border: 2px #20334C solid;
      width: 250px;
      padding-bottom: 100px;
      font-size: 0.9em;

   }
   .s__box__form__submit {
      background: rgba(112,239,199, 0.2);
      color: #20334C;

      width: 250px !important;
      height: 34px !important;
      padding: 5px 10px !important;

      font-size: 1em;
      font-family: OpenSans-SemiBold;

      display: flex;
      justify-content: center !important;
      align-items: center !important;

      cursor: pointer;
      border: 2px #20334C solid;
      transition: all 0.25s;
   }

/* PROFIL ---------------------------------------*/
   .profil {
      background: #162233;

      width: 0;
      height: 88vh;

      transition: all 0.25s;
   }
   .profil__title {
      padding: 75px 25px 20px 25px;
      color: #35547F;
      font-size: 2em;
      text-align: right;
   }
   .profil__list {
      margin: 50px 0 0;
   }
   .p__list__item {
      color: #70EFC7;

      margin:  25px;

      font-size: 1.5em;
      text-align: right;
      display: flex;
      flex-direction: column;

      transition: all 0.25s;
   }
   .p__list__item:hover {
      color: #fff;
   }


/* FOOTER ---------------------------------------*/
   .footer {
      background: #162233;
      color: #fff;

      width: 100%;
      height: 5vh;
      padding-left: 2%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 0.85em;
      font-family: OpenSans-Light;

      position: absolute;
      bottom: 0;
   }
   .footer__text__first {
      color: #4E6893;
      font-size: 1.5em;
      font-family: OpenSans-SemiBold;
   }
   .foo__text__link {
      color: #70EFC7;

      font-family: OpenSans-Regular;
      border-bottom: 1px #162233 solid;
      transition: all 0.25s;
   }
   .foo__text__link:hover {
      color: #fff;

      border-bottom: 1px #70EFC7 solid;
   }
   .footer__img {
      margin-right: 4%;
      width: 35px;
      height: auto;
   }

/* POST -----------------------------------------*/
   .post {
      background: #fff;

      width: 100%;
      height: 86vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .post__form h2 {
      margin: 5px 0;
      color: #20334C;
      font-family: OpenSans-SemiBold;

      font-size: 1.5em;
   }
   .post__form {
      background: #EDF6FD;
      padding: 15px;
      display: none;
      height: 65vh;
      flex-direction: column;
      justify-content: flex-start;
   }
   .post__form__title {
      width: 750px !important;
   }
   .post__form input {
      width: 750px;
      height: 20px;
      margin: 0 auto;
      margin-bottom: 15px;
      padding: 5px;

      font-size: 1em;

      display: flex;
      justify-content: flex-start;

      border: 2px #20334C solid;

   }
   .post__tabs {
      width: 544px;
      height: 5vh;
      display: flex;
      justify-content: space-between;

   }
   .p__tabs__link {
      width: 50%;
      height: 5vh;
      display: flex;
      justify-content: center; 
      align-items: center;
   }
   .p__form__input__description {
      width: 750px !important;
      padding-bottom: 150px !important;
   }
   .p__form__input__tags {
      width: 490px !important;
   }
   .p__form__input__id {
      width: 500px !important;
   }
   .p__form__input__pw {
      width: 500px !important;
   }
   .p__form__input__mail {
      width: 500px !important;
   }
   .p__form__submit {
      background: rgba(112,239,199, 0.2);
      color: #20334C;

      width: 250px !important;
      height: 34px !important;
      padding: 5px 10px !important;

      font-size: 1em;
      font-family: OpenSans-SemiBold;

      display: flex;
      justify-content: center !important;
      align-items: center !important;

      cursor: pointer;

      transition: all 0.25s;
   }
   .p__form__submit:hover {
      background: #70EFC7;
      color: #20334C;
      
   }
   .p__form__box {
      display: flex;
   }
   .signup {
      background: #EDF6FD;
   }
   .signin {
      background: #deedf9;
   }


::-webkit-scrollbar {
         width: 10px;
   }
   ::-webkit-scrollbar-track {
         background: rgba(2,2,2,0.1); 
   }
   ::-webkit-scrollbar-thumb {
         background: #162233; 
         transition: all 0.3s;
   }
   ::-webkit-scrollbar-thumb:hover {
         background: #20334C; 
   }






