@font-face {
      font-family: "OpenSans-Regular";
       src: url('../fonts/OpenSans-Regular.ttf');
   }
   @font-face {
      font-family: "JosefinSans-Bold";
      src: url('../fonts/OpenSans-Bold.ttf');
   }
   @font-face {
      font-family: "JosefinSans-SemiBold";
      src: url('../fonts/OpenSans-SemiBold.ttf');
   }
   @font-face {
      font-family: "JosefinSans-Light";
      src: url('../fonts/OpenSans-Light.ttf');
   }

/* GLOBAL ---------------------------------------*/

body {
   background: #000;
   color: #fff;

   overflow-x: hidden;

   

   font-family: OpenSans-Regular;

}
.DaBigBox {
   display: flex;
}
.is-active {
      display: flex !important;
   }
.is-active-v {
   width: 25% !important;
}
.is-active-w {
   width: auto;
}

/*HEADER ----------------------------------------*/
   .header {
      background: #bbb;

      padding: 0 5% 0 5%;
      height: 10vh;
      
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .header__title {
      font-size: 2em;
   }
   .header__description {
      font-size: 1.5em;
   }
   .header__box {
      display: flex;
      align-items: center;
   }
   .h__box__img {
      width: 50px;
      height: 50px;

      cursor: pointer;
   }
   .h__box__name {
      margin: 0 10px;
   }

/* FRIENDS --------------------------------------*/

   .friends {
      background: #f4F4F4;
      width: 0;
      height: 83vh;
   
      transition: all 0.25s;
   }
   .friends__title {
      color: #2F2F2F;
      font-size: 2em;
      padding: 10px;
      display: flex;
      justify-content: center;
   }
   .friends__list {
      margin: 10px 25px 0;
      height: 70vh;
      overflow: scroll;
      overflow-x: hidden;
   } 
   .f__item {
      padding: 25px 0;
      display: flex;
      align-items: center;
   }
   .f__item__name {
      color: #7F7F7F;
      font-size: 1.33em;
      margin-left: 25px;
   }
   .f__item__img {
      width: 50px;
      height: auto;

   }

/* TABS -----------------------------------------*/
   .mainList {
      background: #5F5F5F;
      width: 75%;
   }
   .mainList__list {
      display: flex;
   }
   .mL__list__item {
      color: #FFF;

      width: 25%;
      height: 7vh;

      font-size: 1.5em;
      text-decoration: none;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.25s;
   }
   .mL__social {
      background: #5F5F5F;

   }
   .mL__chat {
      background: #6F6F6F;
   }
   .mL__forum {
      background: #7F7F7F;
   }
   .mL__intranet {
      background: #8F8F8F;
   }
   .tabs {
      background: red;
      height: 70vh;

   }
   
   .tab {
      width: 100%;
      height: 81vh;
      display: none;
   }
   .mL__list__item:hover {
      background: #4F4F4F;
   }

/* SOCIAL ---------------------------------------*/
   .social__post {
      margin: 30px;
      display: flex;
   }
   .social__overflow {
      overflow-x: hidden;
      margin: 25px;
   }
   .s__box {
      display: flex;
      flex-direction: column;
   }
   .s__post__img {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .s__box {
      margin-left: 25px;
   }
   .s__box__title {
      font-size: 3em;
   }
   .s__box__user {
      font-size: 1.25em;
      margin-left: 10px;
   }
   .social__description {
      margin: 25px 0 25px 10px;
      font-size: 1.25em;
      font-family: OpenSans-Light;
      line-height: 1.5;
   }

/* PROFIL ---------------------------------------*/
   .profil {
      background: #7F7F7F;
      width: 0;
      height: 86vh;

      transition: all 0.25s;
   }
   .profil__title {
      font-size: 2em;

      padding: 10px;
      text-align: center;
   }
   .profil__list {
      margin: 10px 0 0;
   }
   .p__list__item {
      margin: 50px;
      font-size: 1.5em;
      display: flex;
      flex-direction: column;

   }

/* FOOTER ---------------------------------------*/
   .footer {
      background: #bbb;

      width: 100%;
      height: 7vh;

      position: absolute;
      bottom: 0;
   }



